input[type="text"],
input[type="password"]
{
	width: 24em;
}

div.container
{
	margin: 1rem 4rem;
	padding: 0 2rem;
	font-size: 100%;
}

div.container > h2
{
	margin-bottom: 1rem;
	margin-left: -2rem;
}

.container h2
{
	font-size: 2em;
}

.container h3
{
	font-size: 1.6em;
}

.top-bar.expanded,
.top-bar.expanded ul,
.top-bar,
.top-bar-section ul
{
	background: #486;
	color: #fff;
	vertical-align: middle;
	text-align: center;
}

.top-bar.expanded *
{
	line-height: 2.5rem;
}

.top-bar.expanded .title-area {
	background: #042;
	width: initial;
	padding: 0 1rem;
	margin-left: 2rem;
}

.top-bar.expanded .title-area .name
{
	height: 100%;
}

.top-bar.expanded .title-area .name a
{
	font-size: 2rem;
	color: #eef;
	padding: 0;
}

.top-bar-section ul li,
.top-bar-section ul li:not(.has-form) a:not(.button)
{
	background: rgba(255,255,255,0);
	line-height: inherit;
}

.top-bar-section ul li:not(.has-form):hover > :not(ul)
{
	background: rgba(255,255,255,0.2);
}

.top-bar-section ul.right
{
	margin-right: 1.5rem;
	min-width: 6rem;
	height: 100%;
}

.top-bar-section ul.right li
{
	width: 100%;
}

.menu_parent
{
	position: relative;
}

.menu_parent > .menu_child
{
	position: absolute;
	display: none;
}

.menu_parent:hover > .menu_child
{
	display: block;
}

.top-bar-section ul[class^="menu"]
{
	padding: 0.15rem 0 0.2rem 0;
}

.top-bar-section ul[class^="menu"] li.menu_item a:hover,
.top-bar-section ul[class^="menu"] li.menu_item div:hover
{
	background: rgba(255,255,255,0);
	color: #ee0;
}

.top-bar-section ul[class^="menu"] li.menu_item > *
{
	line-height: 2.5rem;
}

.top-bar-section ul[class^="menu"] li.menu_separator
{
	border: 0;
}

.top-bar-section ul[class^="menu"] li.menu_separator > hr
{
	margin: 0.1rem;
}

select
{
	width: auto;
	padding-right: 1.5em;
}

input[type="button"]
{
	padding-top: 	.2em;
	padding-bottom: .2em;
}

.ui-sortable-handle
{
	cursor: move;
}

.ui-sortable-helper
{
	background: rgba(255,255,255,128);
	border: dashed 1px #000;
}

#loading_image
{
	display: none;
	position: fixed;
	margin: 0;
	padding: 0;
	z-index: 4;
}

#modal_bg
{
	display: none;
	position: fixed;
	margin: 0;
	padding: 0;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 130%;
	background-color: #fff;
	opacity: 0.6;
}

div.empty_cell
{
	display: table-cell;
}

span.description
{
	display: none;
	position: absolute;
	top: 75%;
	left: 25%;
	background: #efe;
	color: #000;
	font-size: small;
	border: #000 solid 1px;
	padding: .5ex;
	z-index: 2;
	width: auto;
	white-space: nowrap;
}