input[type="text"],
input[type="password"]
{
	width: 24em;
}

div.container
{
	margin-left: .5em;
}

div.user_config
{
	background-color: #f0e68c;
	margin: .5em 5em;
	padding: 1em 2em;
}

.user_config form
{
	display: box;
	text-align: center;
	background-color: #eef;
}

.user_config .add_name
{
	margin: 0;
}

.user_config form input[type="submit"]
{
	margin: 2em;
}

.user_config form table
{
	table-layout: auto;
	margin: 0;
	padding: 1.5em 2em 0;
	border: 0;
	background: rgba(255,255,255,0);
	border-collapse: separate;
	border-spacing: 0 1em;
}

.user_config form.config_name tr.name_input
{
	background: #fff;
}

.user_config form.config_name .name_input td
{
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

.user_config form.config_name .name_input input,
.user_config form.config_name .name_input select
{
	margin: .5em;
}

.user_config form.config_name .name_input .name_short_label label
{
	margin-left:  1.0em;
	margin-right: 0.2em;
	text-align: right;
}

.user_config form.config_name .name_input select
{
	width: auto;
	padding-right: 1.5em;
}

.user_config form.config_name .name_input td.input_name_display
{
	position: relative;
	overflow: visible;
}

.user_config form.config_name .name_input td.input_name_display span.name_display_description
{
	display: none;
}

.user_config form.config_name .name_input td.input_name_display:hover > span.name_display_description
{
	display: block;
	position: absolute;
	top: 75%;
	left: 25%;
	background: #efe;
	color: #000;
	border: #000 solid 1px;
	padding: .5ex;
	z-index: 2;
	width: 20em;
}
