input[type="text"],
input[type="password"]
{
	width: 24em;
}

div.container
{
	margin: 1rem 2.5rem;
	font-size: 100%;
}

li.name > h1 > a
{
	line-height: 3rem;
	font-size: 2.5rem;
}

.container h2
{
	font-size: 2rem;
}

.container h3
{
	font-size: 1.6rem;
}

.top-bar.expanded .title-area {
	background: #0020a0;
}

.top-bar.expanded .title-area .name
{
	height: auto;
}

.top-bar.expanded,
.top-bar .expanded
.top-bar,
.top-bar-section ul
{
	background: #5050ff;
	color: #fff;
	line-height: 3rem;
	vertical-align: middle;
	text-align: center;
}

.top-bar-section ul li,
.top-bar-section ul li:not(.has-form) a:not(.button)
{
	background: rgba(255,255,255,0);
	line-height: inherit;
}

.top-bar-section ul li:not(.has-form):hover > :not(ul)
{
	background: rgba(255,255,255,0.2);
}

.top-bar-section ul.right
{
	margin-right: 1.5rem;
	min-width: 6rem;
	height: 100%;
}

.top-bar-section ul.right li
{
	width: 100%;
}

.menu_parent
{
	position: relative;
}

.menu_parent > .menu_child
{
	position: absolute;
	display: none;
}

.menu_parent:hover > .menu_child
{
	display: block;
}

.top-bar-section ul[class^="menu"]
{
	padding: 0.15rem 0 0.2rem 0;
}

.top-bar-section ul[class^="menu"] li.menu_item a:hover,
.top-bar-section ul[class^="menu"] li.menu_item div:hover
{
	background: rgba(255,255,255,0);
	color: #ee0;
}

.top-bar-section ul[class^="menu"] li.menu_item > *
{
	line-height: 2.5rem;
}

.top-bar-section ul[class^="menu"] li.menu_separator
{
	border: 0;
}

.top-bar-section ul[class^="menu"] li.menu_separator > hr
{
	margin: 0.1rem;
}

select
{
	width: auto;
	padding-right: 1.5em;
}

input[type="button"]
{
	padding-top: 	.2em;
	padding-bottom: .2em;
}

.ui-sortable-handle
{
	cursor: move;
}

.ui-sortable-helper
{
	background: rgba(255,255,255,128);
	border: dashed 1px #000;
}

#loading_image
{
	display: none;
	position: fixed;
	margin: 0;
	padding: 0;
	z-index: 4;
}

#modal_bg
{
	display: none;
	position: fixed;
	margin: 0;
	padding: 0;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 130%;
	background-color: #fff;
	opacity: 0.6;
}