div.container
{
	font-size: 110%;
	margin-top: 1.2em;
}

div#user_profile
{
	margin-left: 3em;
	margin-right: 5em;
	min-height: 2em;
	background-color: #ffa;
	padding: 1em;
	display: table;
	border-collapse: separate;
	border-spacing: 0.5rem 1.0rem;
}

div.profile_component
{
	display: table-row;
}

div.profile_component > *
{
	display: table-cell;
}

div.profile_content
{
	background-color: #fff;
}

div#profile_name
{
	display: table;
	padding: 1em 1.2rem;
	border-collapse: separate;
	border-spacing: 0.5em 0.5em;
}

div#profile_name div.name_preset
{
	display: table-row;
}

div#profile_name div.name_preset > div,
div#profile_name div.name_preset > span
{
	display: table-cell;
}

div#profile_name div.name_preset div.names
{
	background-color: #ddf;
	padding: 0 0.5rem;
}

div#profile_name div.name_preset div.names div.name
{
	position: relative;
	display: inline-block;
	margin: 0.1rem 0.1rem;
}

div#profile_name div.name_preset div.names div.name:hover > span.description
{
	display: block;
}