li
{
	list-style: none;
}

input[type="text"],
select
{
	margin: 0;
}

div#user_settings
{
	background-color: #ed8;
	margin: 0 1rem;
	padding: 1em 1em;
}

#user_settings div[class^="setting_"]
{
	background-color: #ddf;
	margin: 0;
	padding: 1em 1.5em;
}

#user_settings div.group_title
{
	width: 100%;
}

#user_settings input[type="text"],
#user_settings input[type="password"],
#user_settings select
{
	padding-top: 	.5em;
	padding-bottom: .5em;
	height: auto;
}

#user_settings input[type="submit"]
{
	margin: 0;
}

#user_settings .name_preview
{
	word-spacing: 100%;
	font-size: larger;
	min-height: 2em;
	vertical-align: middle;
	text-align: center;
}

#user_settings #name_presets
{
	margin: 0;
	padding: 0 2.5rem;
	display: table;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 0.5rem;
}

#user_settings #name_presets .name_preset
{
	display: table-row;
}

#user_settings #name_presets .name_preset > div
{
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	background: #eff;
	white-space: nowrap;
	padding: 1rem 0.5rem;
}

#user_settings #name_presets .name_preset div.preset_name
{
	background: rgba(255,255,255,0);
	min-width: 8ex;
	text-align: right;
	padding-right: 1ex;
	position: relative;
}

#user_settings #name_presets .name_preset div.names
{
	padding-left: 1em;
}

#user_settings #name_presets .name_preset div.pad
{
	width: 100%;
}

#user_settings #name_presets .name_preset .names .name
{
	display: inline-block;
	font-size: large;
	margin-left: .5ex;
	position: relative;
}

#user_settings #name_presets .name_preset .names .name .full
{
	color: #444;
	margin-left: .2ex;
}

#user_settings #name_presets .name_preset .names .name .omit
{
	color: #d22;
}

#user_settings #name_presets .name_preset .names .name .private
{
	color: #8aa;
}


#user_settings #name_presets .name_preset .names .name:hover > .description
{
	display: block;
}

#user_settings #name_presets .name_preset div.preset_name:hover > .description
{
	display: block;
}

#user_settings div.add_preset
{
	margin-top: 0.5em;
	width: 100%;
	text-align: center;
}

#user_settings #name_presets input.preset_name
{
	width: auto;
	display: inline;
}

#user_settings #name_presets div.name_editor
{
	width: 100%;
}

#user_settings #name_presets div.name_editor_padding
{
	background: rgba(0,0,0,0);
}

#user_settings #name_presets div.name_inputs {
	display: table;
	padding: 0 1rem 0 2rem;
	width: 100%;
}

#user_settings #name_presets div.name_inputs div.name_input
{
	display: table-row;
	table-layout: auto;
	width: 100%;
}

#user_settings #name_presets div.name_inputs div.name_input > div
{
	display: table-cell;
	vertical-align: middle;
	padding: .75em .5em;
}

#user_settings #name_presets div.name_inputs div.name_input input,
#user_settings #name_presets div.name_inputs div.name_input select,
#user_settings #name_presets div.name_inputs div.name_input label
{
	margin: 0;
}

#user_settings #name_presets div.name_inputs div.name_input div.input_name
{
	width: 100%;
}

#user_settings #name_presets div.name_inputs div.name_input div.input_name input
{
	width: 100%;
} 

#user_settings #name_presets div.name_inputs div.name_input div.input_name_short input
{
	max-width: 5em;
}

#user_settings #name_presets div.name_inputs div.name_input div.name_short_label
{
	padding-left:  1.0em;
	padding-right: 0.2em;
	text-align: right;
}

#user_settings #name_presets div.name_inputs div.name_input div.input_name_display
{
	position: relative;
}

#user_settings #name_presets div.name_inputs div.name_input div.input_name_display:hover > .description
{
	display: block;
}

#user_settings #name_presets div.name_preset div.name_input_add_name,
#user_settings #name_presets div.name_preset div.name_input_buttons
{
	text-align: center;
}

#user_settings #name_presets div.name_preset div.name_input_buttons input
{
	margin: 1rem;
}
